* {
    margin: 0;
    padding: 0;
    font-family: Helvetica, Calibri, Arial;
}

body {
    background-color: #4D8ECD;
}

header {
    color: #FFF;
    height: 40px;
    padding: 15px;
    line-height: 40px;
    border-bottom: 2px solid #656565;
    background-color: #242424;
}

header .menu {
    float: right;
    margin: -15px;
    padding: 17px;
    border-left: 1px solid #4D8ECD;
}

header .logo {
    float: left;
    clear: none;
    width: 40px;
    height: 40px;
    margin: 0 20px;
}

header h1 {
    clear: none;
    width: auto;
    float: left;
}

.menu .button {
    float: left;
    width: 25px;
    height: 25px;
    margin: 5px;
    border: 1px solid #FFFFFF;
    cursor: pointer;
    text-align: center;
    line-height: 25px;
    border-radius: 3px;
}

.button img {
    width: 20px;
    height: 20px;
    margin-top: 2px;
}

.menu .button:hover {
    color: #656565;
    border-color: #959595;
    background-color: #FFFFFF;
}

content .creator, content .result {
    width: 900px;
    color: #FFFFFF;
    margin: 150px auto;
    font-size: 42px;
    text-align: center;
}

input {
    margin-top: 20px;
}

input.url {
    width: 735px;
    float: left;
    border: 0;
    padding: 15px;
    font-size: 22px;
    font-weight: 600;
    border-radius: 5px;
    background-color: #FFFFFF;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

input.url[name="result"] {
    width: 100%;
    box-sizing: border-box;
    border-radius: 5px;
}

input#submit {
    float: right;
    color: #656565;
    border: 0;
    padding: 15px;
    font-size: 22px;
    border-left: 1px solid #F2F2F2;
    border-radius: 5px;
    background-color: #FFFFFF;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

input#submit:hover {
    color: #353535;
    cursor: pointer;
    background-color: #F2F2F2;
}

.result {
    display: none;
}