<!DOCTYPE html>
<html>
<head>
    <title></title>
    <link rel="stylesheet" type="text/css" href="css/svurl.css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js">
    </script>
</head>
<body ng-app="svurl" ng-controller="urlController as url">
    <header>
        <img class="logo" src="imgs/dickbutt.png"/>
        <h1> svURL shortener </h1>
        <div class="menu">
            <div menu-button ng-repeat="button in url.menu"
            class="{{button.class}}"
            img="{{button.img}}"
            target-url="{{button.targetUrl}}"
            click-fn="url.switchView">
            </div>
        </div>
    </header>
    <content>
        <div class="creator">
            <div url-page ng-repeat="(key, page) in url.pages"
                key="key"
                page="page"
                click-fn="url.insertUrl"
                img-fn="url.uploadImg"
                file-model="page.fileModel"
                list-fn="url.getList"
                routes-fn="url.getRoutes">
            </div>
        </div>
    </content>
    <script type="text/javascript" src="scripts/svurl.js"></script>
</body>
</html>