<!DOCTYPE html>
<html>
<head>
    <title></title>
    <link rel="stylesheet" type="text/css" href="static/css/forklr.css">
    <script src="//cdnjs.cloudflare.com/ajax/libs/require.js/2.1.19/require.min.js"
            data-main="./static/scripts/conf.js">
    </script>
</head>
<body ng-controller="pageController as page">
    <header>
        <img class="logo" src="./static/imgs/logo.png"/>
        <div class="menu">
            <div menu-button ng-repeat="button in page.menu"
            class="{{button.class}}"
            target-url="{{button.targetUrl}}"
            click-fn="page.switchView">
            </div>
        </div>
    </header>
    <content>
        <div class="creator">
            <div url-page ng-repeat="(key, view) in page.pages"
                key="key"
                page="view"
                click-fn="page.insertUrl"
                img-fn="page.uploadImg"
                file-model="view.fileModel"
                list-fn="page.getList"
                routes-fn="page.getRoutes">
            </div>
        </div>
    </content>
</body>
</html>
