<!DOCTYPE html>
<html>
<head>
    <title></title>
    <link rel="stylesheet" type="text/css" href="static/css/forklr.css">
    <script src="//cdnjs.cloudflare.com/ajax/libs/require.js/2.1.19/require.min.js"
            data-main="./static/scripts/conf.js">
    </script>
</head>
<body ng-controller="pageController as page">
    <header>
        <img class="logo" src="./static/imgs/logo.png"/>
        <div class="menu">
            <a ng-repeat="button in page.menu" class="button" ng-class="button.class"
            ui-sref="{{button.targetUrl}}"></a>
        </div>
    </header>
    <content ui-view>
        <!--<div class="creator">-->
            <!--<div url-page ng-repeat="(key, view) in page.pages"-->
                <!--key="key"-->
                <!--page="view"-->
                <!--click-fn="page.insertUrl"-->
                <!--img-fn="page.uploadImg"-->
                <!--file-model="view.fileModel">-->
            <!--</div>-->
        <!--</div>-->
    </content>
</body>
</html>
